---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=giberrish&fields=id,email,first_name,last_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"BmXUehE3uug"}}'
  recorded_at: Tue, 23 Aug 2016 13:21:01 GMT
recorded_with: VCR 3.0.3
